<h4 align="center">
  <%= project.title %>
</h4>
<div class="project-body" style="background-image:url('assets/<%= project.image_url%>');">
  <div class="project-content-container">
    <div class="project-description">
      <%=raw project.description %>
    </div>
    <div>
      <%= link_to "Visit the site", project.link_to_site, target: '_blank', class: 'project-content-link project-link-to-site' %>
      <%= link_to "Code on Github", project.link_to_code, target: '_blank', class: 'project-content-link project-link-to-code'  %>
  </div>
</div>
