
<div class="project-content-container">
  <% if project.image_url != nil && project.image_url != '' %>
    <div class="project-image-container">
      <img id="project-image-<%= project.id %>" src="assets/<%= project.image_url %>" alt="<%= project.title %>" class= "project-image" onclick="javascript:showModal('project-image-<%= project.id %>');" />
    </div>
  <% end %>
  <div class="project-title-description">
    <div class="project-title-period-container">
      <div class="project-title-container" >
        <h4><%= project.title %></h4>
      </div>
      <div>
        <%= project.period %>
      </div>
    </div>
    <div class="project-description">
      <%=raw project.description %>
    </div>
  </div>
  <div class="project-technologies">
    Technologies:
     <% project.technologies.order(order: :desc).each do |technology| %>
      <span class="technology-filter badge badge-light"><%= technology.title %></span>
    <% end %>
  </div>
  <div class="project-content-links">
    <% if project.link_to_site != nil && project.link_to_site != ''%>
      <%= link_to "Visit the site", project.link_to_site, target: '_blank', class: 'project-content-link project-link-to-site' %>
    <% end %>
    <% if project.link_to_code != nil && project.link_to_code != '' %>
      <%= link_to "Code on Github", project.link_to_code, target: '_blank', class: 'project-content-link projectect-link-to-code'  %>
    <% end %>
  </div>
</div>
