<div class="contact-block">
  <div>
    For more info, take a look at my resume.<br/>
    And feel free to reach out!
  </div>
  <div class="personal-details">
    <div>
      <span><%= fa_icon "envelope" %></span>
      <span><a href="mailto:hans.lauwers@hotmail.com">hans.lauwers@hotmail.com</a></span>
    </div>
    <div>
      <span><%= fa_icon "linkedin" %></span>
      <span><a href="https://www.linkedin.com/in/hanslauwers">www.linkedin.com/in/hanslauwers</a></span>
    </div>
    <div>
      <span><%= fa_icon "twitter" %></span>
      <span><a href="https://twitter.com/hans_lauwers">@hans_lauwers</a></span>
    </div>
    <div>
      <span><%= fa_icon "github" %></span>
      <span><a href="https://www.github.com/hanslauwers">hans lauwers' github</a></span>
    </div>
    <div>
      <span><%= fa_icon "map-marker" %></span>
      <span><a href="https://www.google.com/maps/place/Pacific+Heights,+San+Francisco,+CA,+USA">Pacific Heights, San Francisco, USA</a></span>
    </div>
  </div>
</div>