<%= form_with(model: technology, local: true) do |form| %>
  <% if technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

      <ul>
      <% technology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 form-container">
      <%= form_for(@technology, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group row">
          <div class="col-md-2 control-label form-label-container">
            <%= f.label :title %>
          </div>
          <div class="col-md-8 form-input-container">
            <%= f.text_field :title, class: "form-control", placeholder: "Title of project", autofocus: true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 control-label form-label-container">
            <%= f.label :description %>
          </div>
          <div class="col-md-8 form-input-container">
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of project" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 control-label form-label-container">
            <%= f.label :skills_level %>
          </div>
          <div class="col-md-8 form-input-container">
            <%= f.text_field :skills_level, class: "form-control", placeholder: "Skills level (1-4)" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2 control-label form-label-container">
            <%= f.label :order %>
          </div>
          <div class="col-md-8 form-input-container">
            <%= f.text_field :order, class: "form-control", placeholder: "Sort order" %>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <%= f.collection_check_boxes :project_ids, Project.all, :id, :title do |cb|  %>
                <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
