<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<p id="notice"><%= notice %></p>

<h2 align="center">Technologies</h2>

<%= javascript_tag do %>
  var technologyItemsForChart = [];
  <% @technologies.each do |technology| %>
      technologyItemsForChart.push({"technology" : '<%= technology.title %>',
         "level" : <%= technology.skills_level %>, "color" : "red"});
  <% end %>
<% end %>
<script>
  generateTechnologyChart(technologyItemsForChart);
</script>

<div class="center">
  <div id="chartdiv"></div>
</div>

<% @technologies.each do |technology| %>
  <div>
    <div><%= render technology %></div>
  </div>
<% end %>

<br>

<%= link_to 'New Technology', new_technology_path %>
