<h2 align="center">
  <%= @technology.title %>
</h2>
<div>
Description: <%= @technology.description %>
</div>
<div>
Skills level: <%= @technology.skills_level %>
</div>
<div>
Projects: <%= render @technology.projects %>
</div>

<%= link_to 'Back', technologies_path %>

<%= link_to "Delete this technology", technology_path(@technology), method: :delete,
                    data: {confirm: "Are you sure you want to delete this technology?"}, class: "btn btn-md btn-danger" %>
